@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white:#eeeeee;
    --color-bg: #E64088;
    --color-primary: #38B6E8;
    --color-secondary: #9C85BD;
}

ul{
    list-style: none;
}

a{
    color: unset;
    text-decoration: none;
}

body{
    text-align: center;
    color: var(--color-white);
    font-family: 'Encode Sans', sans-serif;
}

.button {
    height: 35px;
    background: var(--color-secondary);
    border: 2px solid var(--color-white);
    padding: 24px;
    transition: all 0.3s;
    cursor: pointer;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-white);
  }
  
  
  
  .button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 0px 0px 20px var(--color-white), 2px 2px var(--color-white);
  }
  
  .button:active {
    transform: translateY(3px);
    box-shadow: none;
  }


.weblab{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    cursor: default;
}

.weblab:hover .web{
    color: var(--color-bg);
}
.weblab:hover .lab{
    color: var(--color-primary);
}

.weblab h1{
    font-weight: 900;
    font-size: 100px;
    transition: all 500ms;
}

.web{
    color: var(--color-primary);
}

.lab{
    position: relative;
    bottom: 35px;
    letter-spacing: 15px;
    color: var(--color-bg);
}


footer{
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
footer h3 a{

    text-decoration: underline;
}

footer h3 a:hover{
    cursor: pointer;
    color: var(--color-bg);
    transition: all 500ms;
}



.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: var(--color-primary);
    padding: 20px;
}

.title img{
    width: 30px;
}

.clases{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: auto;
}


.clases a.cardSecondary{
    background-color: var(--color-primary);
}


.clases a{
    background-color: var(--color-bg);
    padding: 20px;
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    height: 200px;
    display: block;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: all 500ms;
}

.clases a:hover{
    background-color: var(--color-secondary);
    transform: scale(1.1);
    box-shadow: 0px 0px 20px var(--color-secondary);
}

/* CARDS */
section.equipo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px;
    max-width: 1300px;
    margin: auto;
}

.card {
    width: 250px;
    height: 500px;
    background: var(--color-primary);
    border: 2px solid var(--color-font);
    box-shadow: 4px 4px var(--color-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 16px 16px 16px;
    gap: 10px;
    transition: all 500ms;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./images/bgkq.gif);
    background-position: center;
    background-size: cover;
    border: 4px solid black;
}



.card-img {
    /* clear and add new css */
    transition: all 0.5s;
    display: flex;
    justify-content: center;
}

.card-img img{
    position: relative;
    width: 100%;
    transition: 500ms all;
    border: px var(--color-font) solid;
}
 
.card-title, .card-subtitle{
    background-color: #9c85bdb9;
    padding: 2px;
}

.card-title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: var(--color-font);
    text-overflow: ellipsis;
    width: 100%;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
    scroll-snap-type: mandatory;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    overflow-y: auto; /* Habilita el desplazamiento vertical cuando sea necesario */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando el texto se corta */
    max-height: 200px; /* Establece una altura máxima para la descripción */
}

/* Estilos para la barra de desplazamiento */
.card-subtitle::-webkit-scrollbar {
    width: 4px; /* Ancho de la barra de desplazamiento */
}

.card-subtitle::-webkit-scrollbar-thumb {
    background-color: var(--box-shadow); /* Color del "pulgarcito" de la barra de desplazamiento */
    border-radius: 4px; /* Bordes redondeados del "pulgarcito" */
}

.card-subtitle::-webkit-scrollbar-track {
    background-color: var(--color-canva); /* Color de fondo de la barra de desplazamiento */
}


.card-divider {
    width: 100%;
    border: 1px solid var(--color-font);
    border-radius: 50px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.card-price {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-font);
}

.card-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--box-shadow);
}

.card-footer .card-btn{
    width: 100%;
    padding: 8px;
}

.card-btn i{
    cursor: pointer;
    color: var(--color-bg);
    font-size: 20px;

}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px var(--box-shadow), 2px 2px var(--color-font);
}


.card-img:hover {
    transform: translateY(-15px);
    
}

.card-img img:hover {
    box-shadow: 0px 0px 20px var(--box-shadow), 2px 2px var(--color-font);   
    transform: scale(2);
    cursor: pointer;
}



@media (max-width: 600px) {
    .clases a{
        width: 30%; 
        min-width: 100%;
        max-width: unset;
    }   
    .title{
        font-size: 1.5rem;
    }
}
